parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$value of function strval expects bool\\|float\\|int\\|resource\\|string\\|null, mixed given\\.$#"
			count: 1
			path: app/Http/Middleware/VersionMiddleware.php

		-
			message: "#^Parameter \\#1 \\$value of function strval expects bool\\|float\\|int\\|resource\\|string\\|null, mixed given\\.$#"
			count: 1
			path: app/Mail/ErrorNotification.php

		-
			message: "#^Parameter \\$max of class App\\\\Objects\\\\Statistics constructor expects float, mixed given\\.$#"
			count: 1
			path: app/Objects/Statistics.php

		-
			message: "#^Parameter \\$min of class App\\\\Objects\\\\Statistics constructor expects float, mixed given\\.$#"
			count: 1
			path: app/Objects/Statistics.php

		-
			message: "#^Parameter \\#1 \\$value of function strval expects bool\\|float\\|int\\|resource\\|string\\|null, mixed given\\.$#"
			count: 1
			path: app/Services/Mosaic/CategoryMosaicService.php

		-
			message: "#^Parameter \\#1 \\$value of function strval expects bool\\|float\\|int\\|resource\\|string\\|null, mixed given\\.$#"
			count: 1
			path: app/Services/Mosaic/DayMosaicService.php

		-
			message: "#^Method App\\\\Services\\\\Mosaic\\\\MosaicService\\:\\:getAllMosaicData\\(\\) should return array\\<int, float\\|null\\> but returns array\\.$#"
			count: 1
			path: app/Services/Mosaic/MosaicService.php

		-
			message: "#^Method App\\\\Services\\\\Mosaic\\\\MosaicService\\:\\:getCollectionWeekData\\(\\) should return array\\<int, float\\|null\\> but returns array\\<int, mixed\\>\\.$#"
			count: 1
			path: app/Services/Mosaic/MosaicService.php

		-
			message: "#^Method App\\\\Services\\\\Mosaic\\\\MosaicService\\:\\:getMosaicData\\(\\) should return array\\<int, float\\|null\\> but returns array\\.$#"
			count: 1
			path: app/Services/Mosaic/MosaicService.php

		-
			message: "#^Parameter \\#1 \\$value of function strval expects bool\\|float\\|int\\|resource\\|string\\|null, mixed given\\.$#"
			count: 1
			path: app/Services/Mosaic/TrackerMosaicService.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:map\\(\\) expects callable\\(mixed, int\\|string\\)\\: App\\\\Http\\\\Resources\\\\DataPointResource, Closure\\(App\\\\Models\\\\Tracker\\)\\: App\\\\Http\\\\Resources\\\\DataPointResource given\\.$#"
			count: 1
			path: app/Services/TableService.php

