parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$value of method App\\\\Services\\\\Mosaic\\\\AbstractMosaicService\\<App\\\\Models\\\\User\\>\\:\\:getMosaicData\\(\\) expects App\\\\Models\\\\User, App\\\\Models\\\\User\\|null given\\.$#"
			count: 1
			path: app/Http/Controllers/Api/MosaicDataController.php

		-
			message: "#^Parameter \\#2 \\$values of method Symfony\\\\Component\\\\HttpFoundation\\\\ResponseHeaderBag\\:\\:set\\(\\) expects array\\<string\\>\\|string\\|null, mixed given\\.$#"
			count: 1
			path: app/Http/Middleware/VersionMiddleware.php

		-
			message: "#^Parameter \\#1 \\$string of function ucfirst expects string, mixed given\\.$#"
			count: 1
			path: app/Mail/ErrorNotification.php

		-
			message: "#^Parameter \\$max of class App\\\\Objects\\\\Statistics constructor expects float, mixed given\\.$#"
			count: 1
			path: app/Objects/Statistics.php

		-
			message: "#^Parameter \\$min of class App\\\\Objects\\\\Statistics constructor expects float, mixed given\\.$#"
			count: 1
			path: app/Objects/Statistics.php

		-
			message: "#^Method App\\\\Services\\\\Mosaic\\\\AbstractMosaicService\\:\\:getAllMosaicData\\(\\) should return array\\<int, float\\|null\\> but returns array\\.$#"
			count: 1
			path: app/Services/Mosaic/AbstractMosaicService.php

		-
			message: "#^Method App\\\\Services\\\\Mosaic\\\\AbstractMosaicService\\:\\:getCollectionWeekData\\(\\) should return array\\<int, float\\|null\\> but returns array\\<int, mixed\\>\\.$#"
			count: 1
			path: app/Services/Mosaic/AbstractMosaicService.php

		-
			message: "#^Method App\\\\Services\\\\Mosaic\\\\AbstractMosaicService\\:\\:getMaxDate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: app/Services/Mosaic/AbstractMosaicService.php

		-
			message: "#^Method App\\\\Services\\\\Mosaic\\\\AbstractMosaicService\\:\\:getMosaicData\\(\\) should return array\\<int, float\\|null\\> but returns array\\.$#"
			count: 1
			path: app/Services/Mosaic/AbstractMosaicService.php

		-
			message: "#^Parameter \\#1 \\$time of class Illuminate\\\\Support\\\\Carbon constructor expects DateTimeInterface\\|string\\|null, mixed given\\.$#"
			count: 1
			path: app/Services/Mosaic/CategoryMosaicService.php

		-
			message: "#^Parameter \\#1 \\$time of class Illuminate\\\\Support\\\\Carbon constructor expects DateTimeInterface\\|string\\|null, mixed given\\.$#"
			count: 1
			path: app/Services/Mosaic/DayMosaicService.php

		-
			message: "#^Parameter \\#1 \\$time of class Illuminate\\\\Support\\\\Carbon constructor expects DateTimeInterface\\|string\\|null, mixed given\\.$#"
			count: 1
			path: app/Services/Mosaic/TrackerMosaicService.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:map\\(\\) expects callable\\(mixed, int\\|string\\)\\: App\\\\Http\\\\Resources\\\\DataPointResource, Closure\\(App\\\\Models\\\\Tracker\\)\\: App\\\\Http\\\\Resources\\\\DataPointResource given\\.$#"
			count: 1
			path: app/Services/TableService.php
