$primary: #C2185B;
$secondary: #EC407A;
$min-contrast-ratio: 0.5;

@import "~bootstrap/scss/bootstrap";
@import "~fontawesome/css/all.css";

.alert-container {
    position: fixed;
    z-index: 1000;
    width: 30%;
    top: 0;
    right: 0;
    padding-top: 1em;
    padding-right: 1em;
}

.alert-container .alert {
    margin-bottom: 0;
    margin-top: 18px;
}

.alert-container {
    position: fixed;
    z-index: 1000;
    width: 30%;
    top: 0;
    right: 0;
    padding-top: 1em;
    padding-right: 1em;
}

.alert-container .alert {
    margin-bottom: 0;
    margin-top: 18px;
}

.form-floating:focus-within {
    z-index: 2;
}

.form-group .form-floating input{
    border-radius: 0;
}

.form-group:first-child .form-floating input {
    margin-bottom: -1px;
    border-top-right-radius: var(--bs-border-radius);
    border-top-left-radius: var(--bs-border-radius);
}

.form-group:last-child .form-floating input {
    margin-bottom: 10px;
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}

.superscript {
    vertical-align: super;
    font-size: .6em;
}
