@import "~fontawesome/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}

.superscript {
    vertical-align: super;
    font-size: .6em;
}

#app {
    min-height: 100vh;
}

.menu li > :not(ul, .menu-title, details, .btn).active, .menu li > :not(ul, .menu-title, details, .btn):active{
    --n: var(--p);
    @apply text-white;
}

#collapseMenu {
    width: 4em;
    z-index: 200;
}
