parameters:
	ignoreErrors:
		-
			message: "#^Only iterables can be unpacked, mixed given\\.$#"
			count: 1
			path: ../../app/Http/Controllers/CategoryController.php

		-
			message: "#^Parameter \\#1 \\$attributes of method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:update\\(\\) expects array\\<string, mixed\\>, mixed given\\.$#"
			count: 1
			path: ../../app/Http/Controllers/CategoryController.php
